*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}

a{
    color: #3a465f;
}

a:hover{
    text-decoration: none;
}

.content{
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

.clear{
    clear: both;
}

.last{
    float: right;
    margin-right: 0 !important;
}

/*HEADER*/
.main_header{
    display: block;
    background: #3a465f;
}

.main_header .content{
    padding: 30px 0;
}

.main_header_logo{
    float: left;
    width: 300px;
    height: 51px;
    font-size: 0;
    background: url('img/logo.png') center center no-repeat;
    background-size: 100% auto;
}

.main_header_search{
    width: 26.04%;
    background: url(img/logo.png) center center no-repeat;
}

.main_header_search{
    float: right;
}

.main_header_search input{
    float: left;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #232b3d;
}

.main_header_search .s{
    border-right: 0;
    width: 200px;
}

.main_header_search .b{
    background: #232b3d;
    color: #fff;
    cursor: pointer;
}

.main_header_search .b:hover{
    background: #738cbf;
    border-color: #738cbf;
}

.main_header_menu{
    display: block;
    background: #232b3d;
}

.main_header_menu ul{
    width: 960px;
    margin: 0 auto;
}

.main_header_menu li{
    float: left;
    list-style: none;
}

.main_header_menu a{
    float: left;
    padding: 15px;
    color: #fff;
    font-size: .9em; /* (alvo / contexto) */
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.main_header_menu a:hover{
    background: #738cbf;
}

/*CONTENT*/

.main_content {
    background: #fff;
}

.title-section{
    font-size: 1.12em; /* 18 / 16 = 1,125*/
    font-weight: 300;
    color: #555;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.lastnews{
    float: left;
    width: 66%; /* (630 / 960) * 100 */
}

.lastnews_destaque{
    float: left;
    width: 100%;
    margin-bottom: 3.2%; /* (20 / 630) * 100 */
}

.lastnews_destaque .capaaqui{
    float: left;
    width: 100%;
    height: 300px;
    background: #eee;
    margin-bottom: 3.2%; /* (20 / 630) * 100 */
}

.lastnews_destaque h1{
    font-size: 1.5em; /* 24 / 16 = 1.5*/
    margin-bottom: 1.6%; /* (10 / 630) * 100 */
}

.lastnews_destaque p{
    margin: 1.2% 0; /* ((15 / 630) * 100) / 2 */
}

.lastnews_article{
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 30px;
}

.lastnews_article:nth-child(2n+0) {
    margin-right: 0;
}

.lastnews_article header{
    margin-bottom: 1.6%; /* (10 / 630) * 100 */
}

.lastnews_article .capaaqui{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    background: #eee;
    height: 150px;
}

.lastnews_article h1{
    margin: 10px 0;
    font-size: 18px;
}

.lastnews_article p{
    font-size: 14px;
    margin-bottom: 15px;
}

.sidebar{
    float: right;
    width: 30%;
}

.sidebar_widget{
    float: left;
    width: 100%;
    margin-bottom: 5%; /* (15 / 300) * 100 */
    padding-bottom: 5%;
    border-bottom: 1px solid #3a465f;
}

.sidebar_widget time {
    font-size: .75em;
    margin-top: 5%;
    display: block;
}

.sidebar_widget .capaaqui{
    float: left;
    width: 100%;
    height: 150px;
    background: #eee;
    margin-bottom: 5%;
}



/*FOOTER*/
.main_footer{
    background: #eee;
    padding: 25px 0;
    text-align: center;
}
