*{
	margin: 0;
	padding: 0;
}

/* ESTRUTURA GLOBAL */
.cf{
	overflow: hidden;
}

.barra-topo{
	background: #090909;
	height: 16px;
	width: 100%;
}

.container{
	margin: 0 auto;	
	width: 71%;
}

.linha-divisoria{
	border-bottom: 1px solid #c0c0c0;
}

/* TOPO */
.topo-site{
	width: 100%;
}

.topo-site-logo{
	background: url(../imagens/logo-creative-studio.png) no-repeat;
	float: left;
	font-size: 0;
	height: 100px;
	margin: 20px 0 15px 0;
	width: 183px;
}

/* MENU */
.topo-site-menu{
	float: right;
	list-style: none;
}

.topo-site-menu li{
	color: #090909;
	display: inline-block;
}

.topo-site-menu li a{
	color: #090909;
	display: inline-block;
	font-family: 'arial';
	font-size: 0.8em;
	font-weight: bold;
	padding: 60px 0 0 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.topo-site-menu li a:hover{
	color: #fe9b00;
}
