/*1279PX BREAKPOINTS*/

@media (max-width: 79.93em) {
	.main_header_nav {
		position: fixed;
		left: -100%;
		top: 0;
		width: 76%;
		height: 100%;
		min-width: 200px;
		max-width: 360px;
		background-color: #222;
		z-index: 99;
		overflow: hidden;
		overflow-y: auto;
	}

	.main_header_nav_search {
		float: left;
		width: 100%;
		background-color: #000;
		padding: 30px 15px;
	}

	.main_header_nav_item {
		float: left;
		width: 100%;
		position: relative;
	}

	.main_header_nav_item > a {
		float: left;
		width: 100%;
		padding: 15px;
		text-transform: uppercase;
		text-decoration: none;
		color: #eee;
		font-weight: bold;
		font-size: .9em;
	}

	.main_header_nav_item:hover,
	.main_header_nav_item > a:hover {
		background-color: #444;
		color: #fff;
	}

	.main_header_nav_sub {
		float: left;
		width: 100%;
		padding: 10px;
		background-color: #333;
	}

	.main_header_nav_sub_item {
		float: left;
		width: 100%;
	}

	.main_header_nav_sub_item a {
		float: left;
		width: 100%;
		padding: 15px;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		font-size: .8em;
	}

	.main_header_nav_sub_item a:hover {
		background-color: #007fff;
	}

}


/*480PX BREAKPOINTS*/

/* 480 / 16 = 30em */
@media (min-width: 30em) {
	.more_news_item {
		float: left;
		width: 48%;
		margin-right: 4%;
		min-height: 300px;
	}

	.more_news_item:nth-of-type(2n+0) {
		margin-right: 0;
	}
}


/*592PX BREAKPOINTS*/

/* 592 / 16 = 37.5em */
@media (min-width: 37em) {
	.most_views_item h1 {
		font-size: 1.3em;
	}

	.gallery img {
		float: left;
		width: 33.33%;
	}
}

/*768PX BREAKPOINTS*/

/* 768 / 16 = 48em */
@media (min-width: 48em) {

	.main_header {
		background-color: #000;
	}

	.main_header_logo {
		position: absolute;
		top: 0;
		padding: 35px 20px;
		background-color: #fff;
		z-index: 98;
		border: 4px solid #007fff;
		border-top: 0;
		box-shadow: 0 0 4px #333;
	}

	.section_title {
		font-size: 2em;
		font-weight: 300;
		text-align: left;
	}

	.more_news_item,
	.more_news_item:nth-of-type(2n+0) {
		float: left;
		width: 23.5%;
		margin-right: 2%;
	}

	.more_news_item:nth-of-type(4n+0) {
		margin-right: 0;
	}

	.bestviews_item, .most_views_item {
		float: left;
		width: 48%;
		margin-right: 4%;
	}

	.bestviews_item:nth-of-type(2n+0),
	.most_views_item:nth-of-type(2n+0) {
		margin-right: 0;
	}

	.most_views_item h1 {
		font-size: 1.1em;
	}

	.newsletter h1 {
		font-size: 1.8em;
	}
}


/*960PX BREAKPOINTS*/

/* 960 / 16 = 48em */
@media (min-width: 60em) {
	.slide_controll {
		width: 92%;
		margin: 0 4%;
		top: 30%;
	}

	.slide_item_desc {
		position: absolute;
		width: 100%;
		padding: 20px 4%;
		bottom: 0;
		background: rgba(0,0,0,0.7);
	}

	.slide_item_desc h1 {
		font-size: 1.8em;
		text-shadow: 2px 2px 4px #000;
	}

	.slide_item_desc .tagline {
		font-size: 1em;
		text-shadow: 2px 2px 4px #000;
		color: #fff;
	}

	.gallery {
		padding: 50px;
	}
}

/*1280PX BREAKPOINTS*/

/* 1280 / 16 = 80em */
@media (min-width: 80em) {
	.mobile_action {
		display: none;
	}

	.main_header_nav {
		float: right;
		width: 80%;
		text-align: right;
		margin-top: 20px;
	}

	.main_header_nav_item {
		position: relative;
		display: inline-block;
		margin-right: 10px;
	}

	.main_header_nav_item:last-of-type {
		margin-right: 20px;
	}

	.main_header_nav_item > a {
		float: left;
		padding: 10px;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		font-size: .9em;
		font-weight: bold;
	}
	
	.main_header_nav_item:hover,
	.main_header_nav_item > a:hover {
		background-color: #007fff;
	}

	.main_header_nav_search {
		float: right;
		width: 35%;
	}

	.main_header_nav_sub {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 300%;
		background-color: #fff;
		padding: 10px;
		text-align: left;
		z-index: 99;
	}

	.main_header_nav_item:hover .main_header_nav_sub,
	.main_header_nav_item > a:hover .main_header_nav_sub {
		display: block;
	}

	.main_header_nav_sub_item {
		float: left;
		width: 50%;
	}

	.main_header_nav_sub_item a {
		float: left;
		width: 100%;
		padding: 10px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .8em;
		color: #333;
	}

	.main_header_nav_sub_item a:hover {
		background-color: #007fff;
		color: #fff;
	}

	.more_and_gallery {
		float: left;
		width: 96%;
		margin: 0 4%;
	}
	
	.more_and_gallery .content {
		float: left;
		width: 100%;
		margin: 0;
	}

	.most_views {
		float: left;
		width: 50%;
		background: none;
	}

	.most_views_item {
		float: left;
		width: 100%;
	}

	.most_views_item img {
		width: 30%;
	}

	.most_views_item_desc {
		width: 70%;
	}

	.most_views_item_desc h1 {
		font-size: 1.2em;
	}

	.gallery {
		float: right;
		width: 50%;
	}
}


/*1360PX BREAKPOINTS*/

/* 1360 / 16 = 85em */
@media (min-width: 85em) {
	.content, .slide_item_desc,
	.more_and_gallery, .slide_controll {
		width: 80%;
		margin: 0 10%;
	}

	.slide_item_desc {
		padding: 20px;
	}

	.slide_nav.back,
	.slide_nav.go {
		margin: 0;
	}
}


/*1600PX BREAKPOINTS*/

/* 1600 / 16 = 100em */
@media (min-width: 100em) {
	.content,
	.slide_controll,
	.more_and_gallery,
	.slide_item_desc {
		width: 76%;
		margin: 0 12%;
	}

	.slide_controll {
		top: 38%;
	}
}